extend base

block content
	center 
		h3 Newsletter BotSpot AI
		h2 Welcome 
		p We are have a offer upto 80% . is your are intrested click the link below .
		a(href="https://www.botspotai.com/") Botspot AI